# 1. Say "Hello, World!" with Python

In [1]:
print("Hello, World!")

Hello, World!

# 2. Arithmetic Operators

In [2]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

2
3
5
-1
6

# 3. Python : Division

In [3]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

2
3
0
0.6666666666666666

# 4. Loops

In [5]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i*i)

3
0
1
4

# 5. if else

In [6]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())
    if n%2 != 0:
        print("Weird")
    if n%2 == 0 and n in range(2,6):
        print("Not Weird")
    if n%2 == 0 and n in range(6,21):
        print("Weird")
    if n%2 == 0 and n>20:
        print("Not Weird")

5889
Weird

# 6. Write a Function

In [9]:
def is_leap(year):
    leap = False

    # Write your logic here
    if (year%400 == 0):
        return True
    if (year%100 == 0):
        return False
    if (year%4 == 0):
        return True
    return False


    return leap

year = int(input())
print(is_leap(year))

3889
False

# 7. Print Function

In [8]:
if __name__ == '__main__':
    n = int(input())
    for i in range(1,n+1):
        print(i, end = '')

4
1234